body {
	background-color: black;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size:16px;
}
section {
	background-color: gray;
	border-radius: 1.5em;
	margin: 0 auto;
	max-width: 37.5em;
	padding: .5em;
}
h1 {
	font-family: 'Londrina Shadow', cursive;
	text-align: center;
}
