* { margin: 0; padding: 0; box-sizing: border-box; }
body {
	background-color: #000000;
	color: #ffffff;
	font-family: helvetica, arial, sans-serif;
	font-size:16px;
}
header {
	border-bottom: 2px solid #ffffff;
}
section {
	background-color: gray;
	border-radius: .5em;
	margin: 1em auto;
	max-width: 39.5em;
	padding: 1em;
}

h1 {
	text-align: center;
}
p {
	margin-top:1em;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

li {
	display: inline;
}
.header_font {
	font-family: 'Londrina Shadow', cursive;
}

.para_font {
	font-family: 'Lora', serif;
}
a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ff0000;

}

a.hover_it:hover {
	font-weight: 800;
	text-transform: capitalize;
}

.doublespace {
	line-height: 2em;
}

#slogan {
	color: #ff0000;
	font-style: italic;
	font-weight: 800;
}

.folio {
	 
	border: 1px solid gray; 
	border-radius: .5em;
	background: #0000ff;
	float: left;

	padding: 1em;
	width: 33%;



}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }

