* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	background: url('../images/nematocyst.jpg') no-repeat center;
	background-size: cover;
}

body {	
	margin: auto;
	font-size: 16px;
/*  font-family: "Open Sans", sans-serif;	
	*/
}


.layer {
    background-color: rgba(203, 201, 207, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
	font-size: 2em;
	font-style: italic;
	font-weight: 800;
}

h2 {
	font-size: 2em;
	font-style: italic;
}

header {
	display: inline;
	font-size: 1em;
	font-style: italic;
	margin: auto;
}

nav {
	clear: both;	
	font-family: Arial, sans-serif;
	margin: auto;
	width: 18em;
}

a {
	background: #176F9F;
	color: #B2E571;
	display: block;
	float: left;
	padding: .5em;
	text-decoration: none;
}

a:hover {
	background: #aaaaaa;
	color: #000000;
}


footer a{
	background: #00305A;
	color: #B2E571;
	display: block;
	float: left;
	padding: .5em;
	text-decoration: none;
}

footer a:hover {
	background: #669900;
	box-shadow: 10px 10px 5px #888888;	
	color: #000000;
}

h1 a {
	text-align: center;
}

.active_page{
	color: #ffffff;
}

.colunms {
	clear: both;
	margin: auto;
	width: 10em;
}

.2cols {
	clear: both;
	width: 50%;
}

#hero_left, #hero_right {
	color: rgb(256, 256, 256);
	font-size: 1.2em;
	font-style: italic;
	font-weight: 800;
	height: 4em;	
	line-height: 1em;
	min-width: 15%;
	padding: .75em;
}

#hero_left {
	float: left;
	clear: both;	
}

#hero_right {
	float: right;
}

section {
    border: .125em solid;
    border-radius: .5em;
	clear: right;
	flex-wrap: wrap;
	float: left;
	height: 17em;	
	margin: 0;
	padding: 1.5em;	
	width: 33.333%;
}

#about {
	/* background: #00305A; Dark Blue
	background: rgba(0,48,90,0.5);	
	*/

	/* background: #CBC9CF; Gray */
	background: rgba(203,201,207,0.5);
}

#work {
	/* background: #176F9F; Light Blue */
	background: rgba(23,111,159,0.5);
}

#contact {
	/* background: #669900; Green */
	background: rgba(102,153,0,0.5);
}
.banner {
	height: 10em;
}

footer {
	background: #00305A;
	clear: both;
	color: #ffffff;
	font-size: .75em;
	height: 5em;
	padding: 1.5em;
	text-align: center;
}

footer p {
	clear: both;
}
.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}


