* { margin: 0; padding: 0; box-sizing: border-box; }

body {
	/*
	background-color: #ffffff;
	*/
	color: #000000;
	font-family: helvetica, arial, sans-serif;
	font-size:16px;
	text-align: center;
}

header {
	background-image: url("/images/gd2.jpg");
	border-bottom: 2px solid #CBC9CF;
	background: #CBC9CF;
}


header h1 {
	font-size: 4em;
	font-style: italic;
	padding: .25em;
}

section {
	background-color: gray;
		/*
	border-radius: .5em;
	margin: 1em auto;

	max-width: 37.5em;
	padding: 1em;
	*/
}

footer {
	background: #176F9F;
	clear: both;
}

.themeBox {
	color: #ffffff;
}


p {
	height: 20.5em;
	float: left;
	width: 12em;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }

.social {
 	background: #176F9F;
 	clear: right;
 }

  li {
 	display: inline;
 	background: #669900;
 }
/*





h1 {
	text-align: center;
}
p {
	margin-top:1em;
}
.header_font {
	font-family: 'Londrina Shadow', cursive;
}

.para_font {
	font-family: 'Lora', serif;
}


a:hover {
	color: #ff0000;

}

a.hover_it:hover {
	font-weight: 800;
	text-transform: uppercase;
}

.doublespace {
	line-height: 2em;
}

#slogan {
	color: #ff0000;
	font-style: italic;
	font-weight: 800;
}

.folio {
	border: 1px solid;
	width: 33.33%
	float: left;

}

*/


