* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
}

nav {
	background: #aaaaaa;
	font-family: Arial, sans-serif;
	width: 400px;
	margin: auto;
	clear: both;
}

a {
	background: #ff7900;
	color: white;
	display: block;
	padding: 10px;
	text-decoration: none;
	float: left;

}

a:hover {
	background: #aaaaaa;
	color: #000000;
}

.rainbow {
	width: 300px;
	color: silver;
	height: 25px;
	clear: both;
}

p {

}

.r {
	background: red;
}
.o {
	background: orange;
}
.y {
	background: yellow;
}
.g {
	background: green;
}
.b {
	background: blue;
}
.p {
	background: purple;
}


.columns {
	background-color:  #ff7900;
	color: #ffffff;
	width: 960px;
	margin: auto;

}

.column1 {

	width: 220px;
	padding: 10px;
	margin: 10px;
	color: purple;
	background: white;
	float: left;
}

.column2 {

	width: 220px;
	padding: 10px;
	margin: 10px;
	color: white;
	background: black;
	float: left;
}

.column3 {

	width: 220px;
	padding: 10px;
	margin: 10px;
	color: purple;
	background: white;
	float: left;
}

.column4 {

	width: 220px;
	padding: 10px;
	margin: 10px;
	color: white;
	background: black;
	float: left;

}

footer {

	background: gray;
	clear: both;
	color: #ffffff;
	text-align: center;
}

.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.my_div {
	margin: auto;
	width: 480px;


}

.my_image {
	float: left;
}
.my_para {

}