body {
background: black;
color:rgb(205,133,63);  
font-family:Tahoma,Verdana,Arial,sans-serif;
font-size:12px;
line-height:1.4em;
margin:100px 60px;
padding:0px;
}

img {margin:20px}




a:link {text-decoration:none;color:rgb(160,160,160)}
a:hover {text-decoration:underline;color:rgb(168,0,0)}
a:visited {text-decoration:none;color:rgb(160,160,160)}

.selected {font-weight:bold}

table {font-size:1em}

.gallery img {padding:0px;margin:0px;width:100px;border:0px}

.date {font-weight:bold}

#container {
width:1050px
}

#header {
width:1050px;
font-size:40px;
line-height:24px;
letter-spacing:12px;
padding-bottom:50px;
}

#menu {
float:left;
width:200px;
letter-spacing:10px;
padding-left:80px;
font-size:15px;
font-weight:bold;
color:rgb(240,240,240); 
}

.menutable {letter-spacing:6px;line-height:80%}

.submenu {padding-left:30px}

#content {
width:700px;
float:right;
text-align:left;
padding-top:0px;
}

.subhead {font-size:14px;letter-spacing:3.8px}

h1 {letter-spacing:4px;padding-bottom:10px;font-size:24px}
h2 {text-indent:0px;font-size:18px}
h3 {text-indent:20px;font-size:14px}
h4 {text-indent:0px;font-size:14px;margin-bottom:-10px}
h4,h3,h2,h1,p {color:rgb(100,100,100)}

p.quote {font-size:16px}