* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: gray;
	font-size: 16px;	
	font-family:  Calibri, Arial, sans-serif;
}
section {
	font-size: 1.7rem;	
	overflow: hidden;	
	height:100vh;	
}
section p {
	color: rgba(255, 255, 255, 1.0);
	text-align: left;
}

/*Strip the ul of padding and list styling*/
nav ul {
	list-style-type: none;
}

/*Create a horizontal list with spacing*/
nav li {
	display: inline-block;
	float: left;
	margin-right: 1px;
	position:relative;
}

/*Style for menu links*/
nav li a {
	display: block;
	min-width: 140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
nav li:hover a {
	background: #19c589;
}

/*Style for dropdown links*/
nav li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
}

/*Hover state for dropdown links*/
nav li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
nav li ul {
	position:absolute;
	top:-100px;
}
nav li:hover ul {
	position:absolute;
	top:0;
	transition-duration:1s;
}

/*Make dropdown links vertical*/
nav li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
nav li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
nav ul li a:hover + .hidden, .hidden:hover {
	display: block;
}
footer {
	color: rgba(255, 255, 255, 1.0);
	text-align: center;
}
h1{
	color: white;	
	font-family: "Lato", sans-serif;
	font-size: 2rem;	
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: .625rem 0;
	display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
.content {
	margin: auto;
	width: 75%;
}

.row_0 {
	/*
	background-image:  url('../images/me_pic.jpg');
	*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
	background: rgba(0, 0, 0, 1);
	height: 3.5rem;
	margin: auto;
	padding: .25rem;
	width: 100%;
}
.row_l {	
	float: left;
}
.row_r {  	
	float: right;
}
.hero {
	clear: both;
}
#about {
	background: tan;
}

#services {
	background: lightgray;
}

#portfolio {
	/*
	background: lightblue; 
	*/
	background: tan;
}
#experience {
	background: gray;
}
#skills {
	background: lightgray;
}

#contact {
	background: black;
	color: white;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.partitions {
  	float: right;
}

.partitions ul {
	list-style: none;
}

.partitions li {
	color: #000000; 	
	float: left;
  	height: 11.5rem;  	
	outline: 3px solid #222;
	text-align: center;
  	width: 50%;	
}

.partitions li a {
	display: block;
	margin: 0;
	padding: 1.5rem; 
	text-decoration: none;  
}
.partitions li p {
	display: block;
	padding:  .25rem; 
	text-align: left;
}


/* transition hero */

#slogan {
	color: rgba(255, 255, 255, 1);
	font-size: 1.5rem;
	font-style: italic;
}
.landing {
	font-size: 1.5rem;
}
.hero {
	clear: right;
	line-height: .5rem;
	margin-left: 28%;
	margin-top: 0;
}
.hero1 {
	background: #19c589;
	border-radius: .4em;		
	color: rgba(255, 255, 255, 1);
	font-size: 1.4em;	
	font-style: italic;	
	margin: 0;	
	padding: 0 .125em;		
	width: 40%;	  	
}

.hero2 {
	background: rgba(0, 0, 0, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 1.6em;	
	font-style: italic;	
	padding: 0 .125em;	
	width: 60%;		
}

.hero3 {
	background: #19c589;	
	border-radius: .3em;
	font-size: 1.4em;
	font-style: italic;			
	padding: 0 .125em;		
	width: 30%;
}
.hero3 a {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

/* */

#contact-area {
	width: 43rem;
	margin-top: 2rem;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 30ren;
	font-size: 1.2em;
	margin: 0 0 .5rn 0;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 6.5px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: .125rem solid #900;
}

#contact-area input.submit-button {
	width: 6rem;
	float: right;
}

label {
	clear: both;
	float: left;
	text-align: right;
	margin-right: 1rem;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}


.fades {
	padding: 2em;
	line-height: 2rem;
}
.fader1 {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.fader2 {
    -webkit-animation: fadein 13s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 13s; /* Firefox < 16 */
        -ms-animation: fadein 13s; /* Internet Explorer */
         -o-animation: fadein 13s; /* Opera < 12.1 */
            animation: fadein 13s;
}

.fader3 {
    -webkit-animation: fadein 23s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 23s; /* Firefox < 16 */
        -ms-animation: fadein 23s; /* Internet Explorer */
         -o-animation: fadein 23s; /* Opera < 12.1 */
            animation: fadein 23s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Responsive Styles */
@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	h1 {
		font-size: 1.5rem;
		text-align: center;
	}
	nav ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	nav li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	nav ul li, nav li a {
		width: 100%;
	}
	/*Display 'show menu' link*/

	.hero {
		display: none;
	}
	section {
		font-size: 1.3rem;		
    	height: 100%;
    	overflow: visible;	
		padding: 0;	
	}	
	nav .show-menu {
		display:block;
	}

}
